.featuredProduct1 {
  height: 32rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #555;
  color: #fff;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

/* logo */
.banner__logo {
  width: 3rem;
  margin-bottom: .3rem;
}

/* name */
.featuredProduct1__name {
  text-transform: uppercase;
  font-size: 2rem;
  color: inherit;
  text-shadow: -2px 1px 3px #000;
}

/* description */
.featuredProduct1__description {
  max-width: 27rem;
  font-size: 1.03rem;
  text-shadow: -2px 1px 3px #000;
}