/* list */
.list {
  list-style: none;
}

/* link */
// Modifiers
.link_color_white {
  color: #fff !important;
}

/* button */
button {
  cursor: pointer;
}

.btn-3d {
  display: inline-block;
  font-size: .9rem;
  text-transform: uppercase;
  padding: .7rem 1rem;
  position: relative;
  transition: transform .15s, box-shadow .15s ease-in-out;

  &:hover {
    text-decoration: none !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.3);
  }

  &:active {
    transform: translate(2px, 2px);

    &::after {
      transform: translate(0);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid;
    transform: translate(2px, 2px);
    transition: transform .15s;
  }
}
// modifiers
.btn-3d_theme_black {
  color: #fff !important;
  background-color: $black;

  &::after {
    border-color: $black;
  }
}
.btn-3d_theme_white {
  color: $black !important;
  background-color: #fff;

  &::after {
    border-color: #fff;
  }
}

/* --- font */
/* weight */
.font-weight-md {
  font-weight: 500;
}

/* text decoration */
.text-underline {
  text-decoration: underline;
}