@import '../../sass/colors';

.categoriesSidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 50%;
  max-width: 15rem;
  background-color: #fff;
  transition: transform .2s;

  &[aria-hidden="true"] {
    transform: translate(-100%);
  }
}

/* close button */
.categoriesSidebar__closeBtn {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: .2rem;
}

/* navigation */
.categoriesSidebar__nav {
  position: relative;
  background-color: #fff;
  height: 100%;
  padding-top: 3rem;
}

.categoriesSidebar__link {
  display: block;
  padding: .7rem 1.2rem;
  color: $black !important;
  transition: .15s background-color;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: #ddd;
  }
}

/* overlay */
.categoriesSidebar__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);

  &[data-visible="false"] {
    display: none;
  }
}