@import '../../sass/colors', '../../sass/shared-styles.scss';

// mixin
@mixin inner-bottom-shadow {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    box-shadow: inset 0 -5px 20px -20px rgba($color: #fff, $alpha: 1);
  }
}

.header {
  font-size: .9rem;
  background-color: $black;
  overflow: hidden;

  @media screen and (min-width: 576px) {
    font-size: .95rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  .input-group-prepend {
    border: 1px solid #ced4da;
    background-color: #fff;
    border-right: none;
    z-index: 1;
    border-radius: .25rem 0 0 .25rem;
  }

  .input-group-text {
    border: none;
    background-color: transparent;
  }

  .list {
    padding-left: 0;
  }

  button:not(.header__searchBtn):not(.categoriesSidebar__closeBtn), 
  a:not(.categoriesSidebar__link) {
    &:focus {
      outline: none;
      box-shadow: 0 0 .2rem rgba(255, 255, 255, 1);
    }
  }
}

/* top bar */
.header__topBar {
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    @include inner-bottom-shadow();
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
    &::after {
      transform: translate(0);
      left: 40%;
      width: calc(60% + (100vw - 1110px) / 2);
      box-shadow: inset 0 -25px 40px -40px white
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 40%;
      width: 7vw;
      background: linear-gradient(to left, transparent, $black);
    }
  }
}

/* services list */
.servicesNav {
  @include inner-bottom-shadow();

  @media screen and (min-width: 768px) {
    margin-right: auto;
    &::after {
      display: none;
    }
  }

  @media screen and (min-width: 992px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: initial;
    margin-right: 5.5rem;
    z-index: 2;
  }
}

.servicesNav__list {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  position: relative;
  z-index: 1;
}

.servicesNav__item:not(:last-child) {
  font-weight: 200;

  .servicesNav__link {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: .9rem;
      width: 1px;
      background-color: #fff;
    }
  }
}

.servicesNav__link {
  display: block;
  padding: .5rem .6rem;
}

/* --- auth & languages options */
.auth-languages {
  display: flex;
  align-items: center;
  justify-content: center;
  @include inner-bottom-shadow();

  @media screen and (min-width: 768px) {
    &::after {
      display: none;
    }
  }

  @media screen and (min-width: 992px) {
    position: absolute;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    position: static;
    z-index: 2;
  }
}

/* auth */
.header__loginLink {
  text-transform: uppercase;
  padding: .5rem .6rem;
  margin-right: 1rem;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    right: -.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: .9rem;
    width: 1px;
    background-color: #fff;
  }
}

/* language options */
.header__languagesList {
  display: flex;
  margin-bottom: 0;

  position: relative;
  z-index: 1;
}

.header__languageBtn {
  border: none;
  background: transparent;
  width: 2.5rem;
  padding: .5rem .6rem;
  display: flex;

  &.active,
  &:hover,
  &:focus {
    .header__languageImgContainer::after {
      background-color: transparent;
    }
  }
}

.header__languageImgContainer {
  position: relative;
  display: flex;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    transition: background-color .15s;
  }
}

/* search */
.header__searchInput {
  border-left: none;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

/* --- Main bar */
.header__mainBar {
  display: flex;
  align-items: center;
}

/* sidebar toggler */
.header__sidebarToggler {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

/* logo */
.header__logoLink {
  margin-right: auto;

  @media screen and (min-width: 340px) {
    margin-left: .3rem;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 1rem;
  }
}

.header__logo {
  width: 3rem;

  @media screen and (min-width: 1200px) {
    transform: translate(-.8rem, -1rem) scale(1.5);
  }
}

/* desktop categories nav */
.header__categoriesNav {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: auto;
  }
}

.header__categoriesList {
  margin-bottom: 0;
  display: flex;
}

.header__categoryLink {
  padding: .5rem;
}

/* page language */
.header__pageLanguage {
  display: none;

  @media screen and (min-width: 520px) {
    display: block;
    color: #fff;
    margin-right: 1rem;
  }
}

/* search form */
.header__searchForm {
  width: 8rem;
}

/* cart */
.header__cartBtn {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: .25rem;
  position: relative;
}

.header__cartBadge {
  position: absolute;
  line-height: 1;
  padding: .1rem .2rem;
  background-color: $black;
  border-radius: 50%;
  top: .3rem;
  right: .3rem;
}