@import '../../sass/colors';

.reviews {
  @media screen and (min-width: 992px) {
    flex-grow: 1;
  }
}

/* nav */
.reviews__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 2rem;
}

/* nav list */
.reviews__navList {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 576px) {
    width: 100%;
  }
}

/* nav item */
.reviews__navItem {
  @media screen and (min-width: 576px) {
    flex: 0 0 33.3333%;
  }
}

.reviews__navLink {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: .75rem 0;
  text-decoration: none !important;
  color: rgba($color: $black, $alpha: .7);
  border-bottom: 1.5px solid transparent;
  padding-left: .5rem;
  padding-right: .5rem;

  transition-property: color, border-color;
  transition-duration: .15s;

  &:hover,
  &:focus,
  &.active {
    color: $black;
    outline: 0;
    border-color: $black; 
  }

  @media screen and (min-width: 440px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (min-width: 500px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* btns */
.reviews__btns {
  display: flex;
  margin-top: 1.5rem;
}

.reviews__loadBtn,
.reviews__writeReviewBtn {
  border: none;
  border-radius: .15rem;
  width: 13rem;
  padding: 1rem .6rem;

  @media screen and (min-width: 992px) {
    width: 50%;
  }
}

.reviews__loadBtn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;

  .fa-arrow-right {
    transition: transform .15s;
  }

  &:hover,
  &:focus {
    .fa-arrow-right {
      transform: translate(.4rem)
    }
  }
}

.reviews__writeReviewBtn {
  color: #fff;
  background-color: $black;
  text-align: left;
}