@import '../../sass/colors';

/* name */
.refinement__name {
  margin-bottom: 0;
}

.refinement__nameBtn {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: .5rem 0;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;


  &:hover,
  &:focus {
    color: $primary-color;
  }

  &[aria-expanded="true"] {
    .fa-chevron-down {
      transform: rotateX(180deg);
    }
  }
}

/* options */
.refinement__options {
  margin: 0;
  padding-left: .1rem;
}

.refinment__option {
  text-transform: capitalize;
}

.refinement__optionBtn {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: .5rem 0;

  &:hover,
  &:focus,
  &.active {
    color: $primary-color;
  }
}