@import '../../sass/colors';

.result {
  margin-bottom: 2rem;
}

/* title */
.result__titleContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
}

.result__title {
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 1;
  font-size: 1.8rem;
  margin-right: 1rem;
}

/* results number */
.result__num {
  margin-bottom: 0;
}

/* ----- Refinement column */
.refinementCol {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 1rem;
    width: 20%;
  }
}

/* ----- Grid column */
.gridCol {
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 74%;
  }
}

/* --- Filteration bar */
.filteration {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* clear btn */
.filteration__clearBtn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

/* sort by */
.filteration__sortBy {
  width: auto !important;
  margin: .5rem 0 .5rem auto;
}

/* refinement modal toggler */
.refinementToggler {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  color: $black;
  background-color: $primary-color;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  position: fixed;
  z-index: 2;
  bottom: 3rem;
  right: 1rem;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}