@import '../../sass/colors';

/* gallery */
.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $grey;
  padding: 1rem;
  position: relative;
  
  @media screen and (min-width: 768px) {
    height: 28rem;
  }
}

/* active img */
.gallery__activeImg {
  width: 100%;
  max-width: 23rem;
  height: 17.5rem;
  object-fit: cover;
  margin: auto;

  @media screen and (min-width: 768px) {
    height: 21rem;
  }
}

.gallery__container {
  margin-top: 1rem;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* imgs list */
.gallery__listContainer {
  width: 3 * 5.5rem;
  overflow: auto;
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* IE 11 */
  &::-webkit-scrollbar { /** Webkit */
    display: none;
  }

  @media screen and (min-width: 450px) {
    width: 4 * 5.5rem;
  }

  @media screen and (min-width: 576px) {
    width: 5 * 5.5rem;
  }

  @media screen and (min-width: 680px) {
    width: 6 * 5.5rem;
  }

  @media screen and (min-width: 768px) {
    width: auto;
    height: 4 * 5.5rem;
  }
}

.gallery__list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  display: flex;

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
}

/* item */
.gallery__item {
  width: 5.5rem;
  height: 5.5rem;
  flex-shrink: 0;
  padding: .25rem;

  position: relative;
}

.gallery__imgBtn {
  padding: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #4D4D4D;
  background-color: transparent;
  transition-property: border-width, box-shadow;
  transition-duration: .15s;

  display: flex;

  &[aria-pressed="true"] {
    border-bottom-width: 2px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
  }

  &:focus {
    outline: none;
    border-bottom-width: 2px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
  }
}

.gallery__img {
  max-width: 90%;
  max-height: 100%;
  object-fit: cover;

  margin: auto;
}

/* arrows */
.gallery__arrowBtn {
  width: 2rem;
  height: 2rem;
  background-color: $black;
  color: #fff;
  border: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  @media screen and (min-width: 768px) {
    top: initial;
    left: 50%;
    transform: translate(-50%);
  }
}

// modifiers
.gallery__arrowBtn_direction_up {
  top: .25rem;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.gallery__arrowBtn_direction_down {
  bottom: .25rem;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.gallery__arrowBtn_direction_right {
  right: .25rem;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.gallery__arrowBtn_direction_left {
  left: .25rem;
  @media screen and (min-width: 768px) {
    display: none;
  }
}