@import '../../sass/colors';

.ratingStars {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;

  &.num-4 {
    .ratingStars__starItem:nth-child(5) {
      .ratingStars__star {
        color: rgba($color: $black, $alpha: .3);
      }
    }
  }

  &.num-3 {
    .ratingStars__starItem:nth-child(n + 4) {
      .ratingStars__star {
        color: rgba($color: $black, $alpha: .3);
      }
    }
  }

  &.num-2 {
    .ratingStars__starItem:nth-child(n + 3) {
      .ratingStars__star {
        color: rgba($color: $black, $alpha: .3);
      }
    };
  }

  &.num-1 {
    .ratingStars__starItem:nth-child(n + 2) {
      .ratingStars__star {
        color: rgba($color: $black, $alpha: .3);
      }
    }
  }
}